# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.


# NOTE: must set "Crossbow" as name to have the badge links working in the
# github comment reports!
name: Crossbow
on:
  push:
    branches:
      - "*-github-*"



jobs:
  verify:
    name: "Verify release candidate on macOS"
    runs-on: macos-10.15

    steps:
      - name: Checkout Arrow
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          path: arrow
          repository: apache/arrow
          ref: 0bae875bb8d992aab762e7fd81eef24bda7963ad
          submodules: recursive


      - name: Install System Dependencies
        shell: bash
        run: |
          brew update
          brew install --overwrite git
          brew bundle --file=arrow/cpp/Brewfile
          brew bundle --file=arrow/c_glib/Brewfile

      - uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '11'

      - uses: actions/setup-dotnet@v2
        with:
          dotnet-version: '6.0.x'

      - uses: actions/setup-node@v2-beta
        with:
          node-version: '16'

      - name: Run verification
        shell: bash
        env:
          TEST_DEFAULT: 0
          TEST_JAVA: 1
        run: |
          arrow/dev/release/verify-release-candidate.sh  